<footer class="text-center text-lg-start" style="background-color: #131212;">
  <div class="container d-flex justify-content-center py-5">

     <a href="https://github.com/Bruss047"><i class="fa fa-github fa-3x"></i></a>
    <a href="https://www.linkedin.com/in/javier-bruzzese/"><i class="fa fa-linkedin fa-3x"></i></a>
  
  </div>

  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     @ {{ anio }} Javier Bruzzese
  </div>
  <!-- Copyright -->
</footer>
