<div class="container" *ngIf="educ">
  <div class="row">
    <div>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <div class="form-group">
          <label for="nombreEd">Nombre</label>
          <input type="text" class="form-control" id="nombreEd" name="nombreEd" [(ngModel)]="educ.nombreEd" required>
        </div>
        <div class="form-group">
          <label for="tituloEd">Titulo</label>
          <input type="text" class="form-control" id="tituloEd" name="tituloEd" [(ngModel)]="educ.tituloEd" required>
        </div>
        <div class="form-group">
          <label for="descEd">Descripción</label>
          <input type="text" class="form-control" id="descEd" name="descEd" [(ngModel)]="educ.descEd" required>
        </div>
        <div class="form-group">
          <label for="inicioEd">Inicio</label>
          <input type="text" class="form-control" id="inicioEd" name="inicioEd" [(ngModel)]="educ.inicio" required>
        </div>
        <div class="form-group">
          <label for="finEd">Fin</label>
          <input type="text" class="form-control" id="finEd" name="finEd" [(ngModel)]="educ.fin" required>
        </div>

        <button class="btn btn-primary">
          Actualizar
        </button>
      </form>
    </div>
  </div>
</div>
